@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 27% 90%;
    --foreground: 268 10% 25%;
    --card: 267 27% 95%;
    --card-foreground: 268 10% 25%;
    --popover: 267 27% 95%;
    --popover-foreground: 268 10% 25%;
    --primary: 268 58% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 27% 85%;
    --secondary-foreground: 268 10% 25%;
    --muted: 267 27% 85%;
    --muted-foreground: 268 10% 45%;
    --accent: 190 54% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 20% 80%;
    --input: 267 20% 85%;
    --ring: 268 58% 69%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 268 10% 12%;
    --foreground: 267 20% 90%;
    --card: 268 10% 15%;
    --card-foreground: 267 20% 90%;
    --popover: 268 10% 15%;
    --popover-foreground: 267 20% 90%;
    --primary: 268 58% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 268 10% 20%;
    --secondary-foreground: 267 20% 90%;
    --muted: 268 10% 20%;
    --muted-foreground: 267 20% 60%;
    --accent: 190 54% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 268 10% 25%;
    --input: 268 10% 25%;
    --ring: 268 58% 69%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
